* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
}
nav {
  height: 80px;
  display: flex;
  padding: 20px 35px;
  box-shadow: 0px 2.9px 7.4px rgba(0, 0, 0, 0.5);
}
.gray{
  color: gray;
}
.bold{
  font-weight: bold;
}
.nav--logo {
  max-width: 130px;
}
.hero {
  flex-direction: column;
  display: flex;
  padding: 20px;
}
.hero--grid {
  max-width: 300px;
  align-self: center;
}
.hero--head {
  font-size: 30px;
}
.hero--text {
  margin-top: 0px;
}
.card {
  width: 175px;
  font-size: 12px;
}
.card--image {
  width: 100%;
  border-radius: 9px;
}
.card--stats {
  display: flex;
  align-items: center;
}
.card--star {
  height: 15px;
}
